- @page_title = "Welcome - YourSite"
- @body_class = ''
- @page_javascripts = ['index.js']

.grid_8
  %h1 Welcome to the Index
  %p Conveniently iterate multifunctional portals via top-line infomediaries. Assertively leverage existing clicks-and-mortar content with covalent methodologies. Authoritatively pursue superior metrics vis-a-vis goal-oriented quality vectors. 
  %p Objectively whiteboard state of the art paradigms whereas performance based scenarios. Completely streamline web-enabled partnerships via next-generation paradigms. Assertively deliver robust expertise and robust supply chains. 
  %p
    %a{:href => '#'} Test Link 1
    %a{:href => '#'} Test Link 2
  %p
    Current time:
    %span.current-time ---
  %p Dramatically repurpose corporate information whereas fully tested relationships. Objectively innovate quality testing procedures vis-a-vis 24/365 infrastructures. Uniquely whiteboard end-to-end models without enabled content. 
  %p Energistically exploit sustainable paradigms for economically sound systems.
.grid_4
  %h2 Sidebar 1
  %p Conveniently iterate multifunctional portals via top-line infomediaries.
  %p Assertively leverage existing clicks-and-mortar content with covalent methodologies. Authoritatively pursue superior metrics vis-a-vis goal-oriented quality vectors. 

  %h2 Sidebar 2
  %p Conveniently iterate multifunctional portals via top-line infomediaries.
  %p Assertively leverage existing clicks-and-mortar content with covalent methodologies. Authoritatively pursue superior metrics vis-a-vis goal-oriented quality vectors. 
.clear
