$body_background: #fff;
$body_color: #000;
$font: "Lucida Sans", Lucida, Helvetica, Tahoma, Arial, sans-serif;
$font_size: 90%;

$link_color: #00f;
$link_hover_color: #29f;

$header_background: #333;
$header_color: #fff;
$header_font_size: 85%;
$header_link_color: #bbb;
$header_link_hover_color: #fff;
$header_link_spacing: 20px;

$footer_color: #aaa;
$footer_font_size: 85%;
